@media (min-width: 319px) and (max-width: 500px) {
   .weather-app {
    width: 440px;
    height: 500px;
    display: grid;
    grid-template-columns: 195px 195px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 19px;
  }

  .central {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .city {
    position: absolute;
    left: 20px;
    top: 50px;
    font-size: 25px;
  }

  .temperature {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 40px;
  }

  .cloud {
    position: absolute;
    left: 50px;
    top: 200px;
  }
}


@media (min-width: 501px) and (max-width: 1200px) {
  .weather-app {
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: 275px 275px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 19px;
  }

  .central {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .city {
    position: absolute;
    left: 20px;
    top: 50px;
  }

  .temperature {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 50px;
  }

  .cloud {
    position: absolute;
    left: 90px;
    top: 200px;
  }
}
